Source: mdview
Section: utils
Priority: optional
Maintainer: Brian Sullender <b.sullender@gmail.com>
Standards-Version: 4.6.2.0
Homepage: https://github.com/b-sullender/mdview/

Package: mdview
Architecture: all
Depends: php, python3-nautilus, php-parsedown, php-parsedown-extra, libjs-highlight.js, libjs-mathjax
Description: Preview Markdown files in your web browser.
